/* Orange Theme Color */
.cssload-thecube .cssload-cube:before,
div.option-box h4,
div.option-box ul li,
div.option-box i,
div#loginandregister h3,
div#language h3,
div#via h3,
div#cart-items h3,
div#favorites h3,
div#loginandregister button,
div#language div.language-links a,
div#via div.via-links a,
div#cart-items div.cart-items-grid div.cart-item,
div#favorites div.fav-items-grid div.fav-item,
div.header-top,
nav.navbar-inverse .navbar-right li.active a:after,
section.offer,
section.offer div.offer-info div#clockdiv div.clockdiv-content,
div.featured-bestseller div.featured-products h2,
div.featured-bestseller div.bestseller h2:after,
div.featured-bestseller div.bestseller h2 a.left span,
div.featured-bestseller div.bestseller h2 a.right span,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-fav,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-cart,
div.testimonials-new div.new h2:after,
div.testimonials-new div.new h2 a.left span,
div.testimonials-new div.new h2 a.right span,
div.testimonials-new div.new div.new-items div.new-item a.add-to-fav,
div.testimonials-new div.new div.new-items div.new-item a.add-to-cart,
div.testimonials-new div.testimonials-products h2,
div.last-blogs h2:after,
div.last-blogs h2 a.left span,
div.last-blogs h2 a.right span,
div.brands,
footer div.footer-top div.footer-contact ul li i,
a.gotop,
nav.navbar-inverse .navbar-right li a:after,
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus span, .navbar-inverse .navbar-toggle:hover span,
section.shop div.shop-aside h2,
section.shop div.shop-aside div.options span label:after,
section.shop div.shop-aside div.price div.price-content .slider.slider-disabled .slider-handle ,
section.shop div.shop-aside div.price div.price-content .slider.slider-disabled .slider-track,
section.shop div.shop-aside div.price div.price-content .slider-track ,
section.shop div.shop-aside div.price div.price-content .slider-selection,
section.shop div.shop-aside div.search-buttom a:hover,
section.shop div.shop-content h2:after,
section.shop div.shop-content div.shop-page nav ul li.active a,
section.shop div.shop-content div.shop-page nav ul li a:hover,
section.shop div.shop-content div.shop-items div.shop-item a.add-to-fav,
section.shop div.shop-content div.shop-items div.shop-item a.add-to-cart,
div.blog-content h2:after,
div.blog-content h2 a.left span,
div.blog-content h2 a.right span,
nav.navbar-inverse button.mobile-toggle-button span.bar,
nav.navbar-inverse .navbar-right li ul.shop-menu h4,
nav.navbar-inverse .navbar-right li.main-li ul li.sub-li a.sub-a:hover,
div.mobile-menu,
section.main-carousel .carousel-inner .item.item-two div.carousel-caption div.carousel-information a:before,
section.main-carousel .carousel-inner .item.item-three div.carousel-caption div.carousel-information a:before,
section.main-carousel .carousel-inner .item.item-four div.carousel-caption div.carousel-information a:before,
section.main-carousel ol.carousel-indicators li:hover,
section.main-carousel ol.carousel-indicators li.active,
section.main-carousel-mobile div.carousel .carousel-control.left,
section.main-carousel-mobile div.carousel .carousel-control.right,
section.main-carousel-mobile div.carousel div.carousel-caption a:hover,
section.page-content div.featured-bestseller div.bestseller h2 a.left span,
section.page-content div.featured-bestseller div.bestseller h2 a.right span,
section.page-content div.testimonials-new div.new h2 a.left span,
section.page-content div.testimonials-new div.new h2 a.right span,
section.page-content div.terms div.term:hover i,
section.shop div.shop-content div.shop-page div.sortby div.bootstrap-select button.btn-default,
section.shop div.shop-content div.shop-page div.show div.bootstrap-select button.btn-default,
section.shop div.shop-content div.shop-page div.sortby div.bootstrap-select div.dropdown-menu ul li a:hover,
section.shop div.shop-content div.shop-page div.show div.bootstrap-select div.dropdown-menu ul li a:hover,
section.shop div.shop-content div.shop-page div.sortby div.bootstrap-select div.dropdown-menu ul li.selected a,
section.shop div.shop-content div.shop-page div.show div.bootstrap-select div.dropdown-menu ul li.selected a,
section.blog-one div.blog-aside h2,
div.blog-content nav ul.pagination li.active a,
section.contact-page-one div.map-one h2:after,
section.contact-page-one div.contact-form-one h2:after,
section.contact-page-one div.contact-form-one input,
section.contact-page-one div.contact-form-one textarea,
section.contact-page-one div.contact-form-one input[type="submit"],
section.contact-page-one div.contact-info-one h2:after,
section.contact-page-one div.contact-info-one div.contact-info-content span i,
section.contact-page-one div.contact-info-one div.contact-info-content span a,
div#favorites a.checkout,
div#cart-items a.checkout,
section.cart h2:after,
section.cart table thead,
section.cart table button:hover,
section.cart div.cart-forms div.coupon form input[type="text"],
section.cart div.cart-forms div.coupon form input[type="submit"],
section.cart div.cart-forms input[type="submit"],
section.product-content div.product h2:after,
section.product-content div.product div.product-details div.product-options div.product-options-select div.bootstrap-select button.btn-default,
section.product-content div.product div.product-details div.product-options div.product-options-select div.bootstrap-select div.dropdown-menu ul li.selected a,
section.product-content div.product div.product-details div.product-options div.product-options-select div.bootstrap-select div.dropdown-menu ul li a:hover,
section.product-content div.product div.product-details div.product-options div.product-options-choose div.cart-fav a:hover,
section.product-content div.product div.product-details div.product-options div.product-options-choose div.product-counter button:hover,
section.product-content div.product div.product-details div.product-share ul li a,
section.product-content div.product div.information-reviews ul.nav-tabs li a,
section.product-content div.product div.information-reviews div.tab-content table tr th,
section.product-content div.product div.information-reviews div.tab-content div.add-review form input,
section.product-content div.product div.information-reviews div.tab-content div.add-review form textarea,
section.product-content div.product div.related-products div.shop-item a.add-to-fav,
section.product-content div.product div.related-products div.shop-item a.add-to-cart,
section.product-content div.product div.related-products div.shop-item div.item-info h3 a:after,
section.blog-details-content h2:after,
section.blog-details-content div.comments-replays div.add-comment form input,
section.blog-details-content div.comments-replays div.add-comment form textarea,
section.blog-details-content h2:after,
section.login-page div.login-content h2:after,
section.login-page div.login-content form input,
section.login-page div.login-content form input[type="submit"]:hover,
section.login-page div.register-content h2:after,
section.login-page div.register-content form input,
section.login-page div.register-content form input[type="submit"]:hover,
section.checkout-page h2:after,
section.checkout-page div.checkout-content div.checkout-form input,
section.checkout-page div.checkout-content div.checkout-form textarea,
section.checkout-page div.checkout-content div.checkout-form div.bootstrap-select button.btn-default,
section.checkout-page div.checkout-content div.checkout-form div.bootstrap-select div.dropdown-menu ul li.active a,
section.checkout-page div.checkout-content div.checkout-form div.bootstrap-select div.dropdown-menu ul li a:hover,
section.checkout-page div.checkout-content input.order{
    background: #e67e22;
}
div#loginandregister h3,
div#language h3,
div#via h3,
div#cart-items h3,
div#favorites h3,
div#loginandregister h3 span,
div#language h3 span,
div#via h3 span,
div#cart-items h3 span,
div#favorites h3 span,
div#loginandregister input,
div#loginandregister button:hover,
div#language div.language-links a:hover,
div#via div.via-links a:hover,
nav.navbar-inverse .navbar-right li a:hover,
nav.navbar-inverse .navbar-right li a:after,
nav.navbar-inverse .navbar-right li.active a,
nav.navbar-inverse .navbar-right li.active a:hover,
section.offer div.offer-info h2,
section.offer div.offer-info div#clockdiv div.clockdiv-content span,
section.offer a.main-buttom:hover,
section.offer div.offer-img span.limit-price,
div.featured-bestseller div.featured-products h2 span a.left span,
div.featured-bestseller div.featured-products h2 span a.right span,
div.featured-bestseller div.featured-products div.featured-items div.featured-item div.item-info a,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-fav:hover,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-cart:hover,
div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item div.item-info h3 a,
div.testimonials-new div.new div.new-items div.new-item a.add-to-fav:hover,
div.testimonials-new div.new div.new-items div.new-item a.add-to-cart:hover,
div#favorites a.checkout:hover,
div#cart-items a.checkout:hover,
div.testimonials-new div.new div.new-items div.new-item div.item-info h3 a,
div.testimonials-new div.testimonials-products h2 span a.left span,
div.testimonials-new div.testimonials-products h2 span a.right span,
div.testimonials-new div.testimonials-products div.testimonials-items div.testimonials-item div.item-info a,
div.last-blogs div.last-blogs-items div.last-blogs-item a.last-blogs-image div.date,
div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info h3 a:hover,
div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info p a,
div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info ul li a:hover,
div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info ul li span i,
footer div.footer-top div.footer-copyright h1,
footer div.footer-top div.footer-copyright a,
footer div.footer-top div.footer-contact h2,
footer div.footer-top div.opening-time h2,
footer div.footer-top div.opening-time div.payment-method,
footer div.footer-bottom div.designer a,
footer div.footer-bottom div.social ul li a,
nav.navbar-inverse a.navbar-brand b,
section.shop div.shop-aside div.search-buttom a,
section.shop div.shop-content div.shop-items div.shop-item div.item-info h3 a,
div.blog-content div.blog-content-items div.blog-content-item a.blog-content-image div.date,
div.blog-content div.blog-content-items div.blog-content-item div.blog-content-info h3 a:hover,
div.blog-content div.blog-content-items div.blog-content-item div.blog-content-info p a,
div.blog-content div.blog-content-items div.blog-content-item div.blog-content-info ul li a:hover,
div.blog-content div.blog-content-items div.blog-content-item div.blog-content-info ul li span i,
nav.navbar-inverse .navbar-right li.main-li ul li.sub-li a.sub-a,
div.mobile-menu ul.mobile-toggle li a:active,
div.mobile-menu ul.mobile-toggle li a:hover,
div.mobile-menu ul.mobile-toggle li ul.sub-ul h4,
section.main-carousel .carousel-inner .item.item-one div.carousel-caption h2 b,
section.main-carousel .carousel-inner .item.item-two div.carousel-caption div.carousel-information h2,
section.main-carousel .carousel-inner .item.item-three div.carousel-caption div.carousel-information h2,
section.main-carousel .carousel-inner .item.item-four div.carousel-caption div.carousel-information h2,
section.main-carousel .carousel-inner .item.item-two div.carousel-caption div.carousel-information a i,
section.main-carousel .carousel-inner .item.item-three div.carousel-caption div.carousel-information a i,
section.main-carousel .carousel-inner .item.item-four div.carousel-caption div.carousel-information a i,
section.page-content div.featured-bestseller div.featured-products h2 a.left span,
section.page-content div.featured-bestseller div.featured-products h2 a.right span,
section.page-content div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-fav:hover,
section.page-content div.featured-bestseller div.bestseller div.bestseller-items div.bestseller-item a.add-to-cart:hover,
section.page-content div.testimonials-new div.new div.new-items div.new-item a.add-to-fav:hover,
section.page-content div.testimonials-new div.new div.new-items div.new-item a.add-to-cart:hover,
section.page-content div.testimonials-new div.testimonials-products h2 a.left span,
section.page-content div.testimonials-new div.testimonials-products h2 a.right span,
section.page-content div.last-blogs div.last-blogs-items div.last-blogs-item div.last-blogs-info h3 a:hover,
section.page-content div.terms div.term i,
section.page-content div.terms div.term h3,
section.shop div.shop-content div.shop-items div.shop-item a.add-to-fav:hover,
section.shop div.shop-content div.shop-items div.shop-item a.add-to-cart:hover,
section.blog-one div.blog-aside div.blog-categories div.blog-category ul li a:hover,
section.blog-one div.blog-aside div.blog-recent-posts div.blog-recent-items a.blog-recent-item:hover div.blog-recent-info h3,
section.blog-one div.blog-aside div.blog-top-likes div.blog-likes-items a.blog-likes-item:hover div.blog-likes-info h3,
section.blog-one div.blog-aside div.blog-recent-comments div.blog-recent-comment ul li a:hover,
section.contact-page-one div.contact-form-one input[type="submit"]:hover,
section.contact-page-one div.contact-info-one div.contact-info-content span,
section.cart table a:hover,
section.cart table button,
section.cart div.cart-price div.cart-details div.clothes-price b,
section.cart div.cart-price div.cart-details div.shipping-price b,
section.cart div.cart-price div.cart-details div.total-price b,
section.cart div.cart-forms div.coupon form input[type="submit"]:hover,
section.cart div.cart-forms input[type="submit"]:hover,
section.page404 b,
section.product-content div.product div.product-details h3,
section.product-content div.product div.product-details div.price-rate span.first-price,
section.product-content div.product div.product-details div.price-rate span.sale-price,
section.product-content div.product div.product-details div.product-options div.product-options-choose div.cart-fav a,
section.product-content div.product div.product-details div.product-options div.product-options-choose div.product-counter button,
section.product-content div.product div.product-details div.product-options div.product-options-choose div.product-counter input[type="text"],
section.product-content div.product div.information-reviews ul.nav-tabs li.active a,
section.product-content div.product div.information-reviews ul.nav-tabs li a:hover,
section.product-content div.product div.information-reviews div.tab-content span.review-user a,
section.product-content div.product div.information-reviews div.tab-content span.review-date,
section.product-content div.product div.information-reviews div.tab-content div.add-review span,
section.product-content div.product div.related-products div.shop-item a.add-to-fav:hover,
section.product-content div.product div.related-products div.shop-item a.add-to-cart:hover,
section.product-content div.product div.related-products div.shop-item div.item-info h3 a,
section.blog-details-content div.blog-details-info div.date,
section.blog-details-content div.blog-details-info span.blog-by,
section.blog-details-content div.blog-details-info div.comments-likes,
section.blog-details-content div.comments-replays span.comment-user a,
section.blog-details-content div.comments-replays span.comment-date,
section.blog-details-content div.comments-replays span.replay a,
section.blog-details-content div.comments-replays span.like a,
section.blog-details-content div.comments-replays div.add-comment span,
section.blog-details-content div.related-blogs div.blog-content-items div.blog-content-item a.blog-content-image div.date,
section.blog-details-content div.related-blogs div.blog-content-items div.blog-content-item div.blog-content-info h3 a:hover,
section.blog-details-content div.related-blogs div.blog-content-items div.blog-content-item div.blog-content-info p a,
section.blog-details-content div.related-blogs div.blog-content-items div.blog-content-item div.blog-content-info ul li a:hover,
section.blog-details-content div.related-blogs div.blog-content-items div.blog-content-item div.blog-content-info ul li span i,
section.login-page div.login-content form input[type="submit"],
section.login-page div.register-content form input[type="submit"],
section.checkout-page div.checkout-content div.checkout-form div.total-price-order b,
section.checkout-page div.checkout-content input.order:hover,
div.mobile-menu ul.mobile-toggle li a.active {
    color: #e67e22;
}
section.main-carousel ol.carousel-indicators li:hover,
section.main-carousel ol.carousel-indicators li.active,
section.product-content div.product div.product-details div.product-options div.product-options-select div.bootstrap-select button.btn-default,
section.product-content div.product div.product-details div.product-options div.product-options-choose div.product-counter button,
section.product-content div.product div.product-details div.product-options div.product-options-choose div.product-counter input[type="text"]{
    border-color: #e67e22;
}
nav.navbar-inverse button.mobile-toggle-button,
section.page-content div.terms div.term i,
section.shop div.shop-aside div.search input,
section.product-content div.product div.information-reviews div.tab-content div.review,
section.product-content div.product div.information-reviews div.tab-content span.review-user,
section.product-content div.product div.information-reviews div.tab-content span.review-date,
section.product-content div.product div.information-reviews div.tab-content div.add-review,
section.product-content div.product div.information-reviews div.tab-content div.add-review span,
section.blog-details-content div.comments-replays div.comment,
section.blog-details-content div.comments-replays span.comment-user,
section.blog-details-content div.comments-replays span.comment-date,
section.blog-details-content div.comments-replays span.replay,
section.blog-details-content div.comments-replays span.like,
section.blog-details-content div.comments-replays div.add-comment,
section.blog-details-content div.comments-replays div.add-comment span,
section.page-content div.terms div.term,
section.product-content div.product div.product-slider div.xzoom-container,
section.product-content div.product div.information-reviews div.tab-content div.review-image,
section.blog-details-content div.comments-replays div.comment-image{
    border: 2px solid #e67e22;
}
section.main-carousel .carousel-inner .item.item-two div.carousel-caption div.carousel-information h2,
section.main-carousel .carousel-inner .item.item-three div.carousel-caption div.carousel-information h2,
section.main-carousel .carousel-inner .item.item-four div.carousel-caption div.carousel-information h2{
    border-left: 2px solid #e67e22;
}
nav.navbar-inverse .navbar-right li.main-li ul li.sub-li a.sub-a{
    border-bottom: 2px solid #e67e22;
}
@media only screen and (max-width : 991px) {
    section.page-content div.featured-bestseller div.bestseller h2 a.left span,
    section.page-content div.featured-bestseller div.bestseller h2 a.right span,
    section.page-content div.testimonials-new div.new h2 a.left span,
    section.page-content div.testimonials-new div.new h2 a.right span,
    section.page-content div.last-blogs h2 a.left span,
    section.page-content div.last-blogs h2 a.right span{
        color: #e67e22;
    }
    section.page-content div.featured-bestseller div.bestseller h2,
    div.featured-bestseller div.bestseller h2,
    section.page-content div.testimonials-new div.new h2,
    section.page-content div.last-blogs h2,
    section.shop div.shop-content h2,
    section.blog-one div.blog-content h2,
    section.product-content div.product h2,
    section.blog-details-content h2,
    section.blog-details-content div.related-blogs h2,
    section.contact-page-one div.map-one h2,
    section.contact-page-one div.contact-form-one h2,
    section.contact-page-one div.contact-info-one h2,
    section.cart h2,
    section.login-page div.login-content h2,
    section.login-page div.register-content h2,
    section.checkout-page h2{
        background: #e67e22;
    }
}
/*// Orange Theme Color */